calendar_token.json
*.json
!package.json
!package-lock.json

node_modules/
.env
.env.local
credentials.json

__pycache__/
*.pyc
calendar_notified.json
recordings/

.venv/
Listener.exe
build/
*.spec
calendar/calendar_token*.json
calendar/credentials.json
calendar/calendar_notified.json
